body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: 'Roboto', sans-serif;
}

.link-btn {
  font-size: 20px;
  background-color: #1639c3;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 3px;
}
